
https://github.com/DavidAnson/vscode-markdownlint#configure
markdownlint-disable
markdownlint-enable
markdownlint-disable-line
markdownlint-disable-next-line
markdownlint-capture
markdownlint-restore
markdownlint-disable-file
markdownlint-enable-file
markdownlint-configure-file

